body{
  background-color: #FFFBE9;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  color: lightgrey;
  margin: 20px;
}
nav:hover {
background-color: black;
}
@media all {
  header (max-width: 640px);
  footer (max-width: 640px);
  flex-direction: column;
  word-spacing: 15px;
}
